<% provide(:title, "About") %>
<h1>About</h1>
<p>This application is modeled after the world famous <a href="https://www.twitter.com">Twitter</a>.
 It was developed following the <a href="https://www.railstutorial.org">Rails Tutorial</a> using Ruby on Rails.
 The project was a chance to teach myself more about web development, primarily Rails.</p>
<p><b><a href="https://en.wiktionary.org/wiki/titter">Titter:</a></b> a laugh or giggle.
  I figured it would be a comical parody of "Twitter." No copyright is intended.</p>
