<% provide(:title, "Help") %>
<h1>Help</h1>
<p>A majority of the functionality on this site is still under development. For now, you can happily
signup and login with some state-of-the-art authentication.</p>
