<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Welcome to the Rails Sample App!</h1>
    <p>Sign up today to get the full experience!</p>
    <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="center">
  <%= image_tag("https://cdn.codementor.io/assets/courses/category/online-ruby-on-rails-training-course-live-bc9ab2af8d92eb4e7eb3211d548a09ad.png", alt: "Sample App") %>
</div>
