<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Welcome to the Rails Sample App!</h1>
    <p>Sign up today to get the full experience!</p>
    <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="center">
  <%= image_tag("https://a1-images.myspacecdn.com/images03/3/4586add6d80f47978a612b72376fa5ff/300x300.jpg", alt: "Sample App") %>
</div>
