<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <p>This is the home page</p>
    <%= link_to "Sign Up Now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<<<<<<< HEAD
<%= link_to image_tag("https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg", alt: "Kitty"), "www.google.com" %>
=======
<%= link_to image_tag("https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg"
    , alt: "Kitty"), "www.google.com" %>
>>>>>>> 5b7a9db9a250159aef7ef196a1e35cd117cc80ea
